<li class="list-group-item" {{action 'detailsShow'}}>
  {{#link-to 'listing' listing.id}}
    {{listing.title}}
  {{/link-to}}
  {{format-date listing.date_added}}
  {{#if areDetailsShowing }}
    {{listing.details}}
      {{#if listing.hasImage}}
        <p><img src={{listing.image}} {{action 'detailsHide'}}></p>
      {{/if}}
  {{else}}
       <button {{action 'detailsShow'}}>Preview</button>
  {{/if}}
  <button {{action 'delete' listing}}>Delete</button>
  {{#if listing.hasImage}}
    <span class="pic"> pic </span>
  {{/if}}
  {{#if listing.hasImage}}
    <span class="map"> map </span>
  {{/if}}


</li>
